<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
   </head>
<body>
    {% load static %}
    <div class="container">
        <h3>Location details</h3>
        <div class="card">
            {% csrf_token %}
    
            <div class="card-body">
                <h5 class="card-title">if you want your location details then click on the button</h5>
                <a onclick="getLocation()" class="btn btn-primary">Click Here</a>
                <p id="latitude"></p>
                <p id="longitude"></p>
                <p id="area"></p>
                <p id="city"></p>
                <p id="ipadd"></p>
            </div>
        </div>
    </div>
    
<script>

var latitude,longitude;
var URL = "{% url 'jspassingvariable' %}";

function getLocation() {
    // var ipaddress = '';
    if (navigator.geolocation) {
        // console.log(navigator.geolocation)
        $("#loading").html("loading please wait for few seconds");
        navigator.geolocation.getCurrentPosition(function(position){
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
            
            $.get("https://api.ipify.org?format=json", function(data){
                ipaddress = data.ip;
                senddata(); // because of outofscope i am calling another function in $.get ajax method
            });
            
            function senddata(){
                console.log(ipaddress);
                data = {'latitude': latitude, 'longitude': longitude, 'ipaddress': ipaddress, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value};
            
                $.post(URL, data, function(response){
                    console.log("post worked");
                    console.log(response);
                    $("#loading").hide();
                    $("#latitude").html("latitude is "+response.latitude);
                    $("#longitude").html("longitude is "+response.longitude);
                    $("#area").html("area is "+response.area);
                    $("#city").html("city is "+response.city);
                    $("#ipadd").html("your ipaddress is "+response.ip);
                    // $("#distinct").html("distinct is "+response.distinct);
                });
            }
            

            
        });
    } 
    else if(!navigator.geolocation){
        alert("allow the location ");
    }
    else {
        // x.innerHTML = "Geolocation is not supported by this browser.";
        alert("Geolocation is not supported by this browser.");
    }
}

</script>

</body>
</html>

